<!-- <h1>All Jockeys</h1>

<div id="jockeys">
  <% @jockeys.each do |jockey| %>
    <h1><%= jockey.name %></h1>
    <% jockey.horses.each do |film| %>
      <h3><%= horse.name %></h3>
    <% end %>
  <% end %>
</div> -->
